@import "tailwindcss";

@theme {
  --color-primary-400: hsl(204, 74%, 66%);
  --color-primary-500: hsl(204, 74%, 51%);
  --font-soarbnb:
    Airbnb Cereal VF, Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}
